@import 'src/styles/vars';

.app-dark {
    #hobbies {

        & p {
            color: $color-text-dark;
        }
    
        & h1 {
            color: $color-medium-dark;
        }
    
        & .subtitle {
            color: $color-highlight-dark;
        }
    
        & h2 {
            color: $color-highlight-dark;
        }
    
        & .description-hobbies{
            border: 1px $color-medium-dark dashed;
        }
    
        & .description-trip{
            border: 1px $color-medium-dark dashed;
        }
    }
}

#hobbies {
    margin-top: 1em;
    margin-bottom: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
     

    & h1 {
        font-weight: normal;
        color: $color-medium;
        font-family: 'Caveat', cursive;
    }

    & span {
        color: $color-soft;
        font-size: .8em;
    }

    & h2 {
        font-weight : normal;
        font-size: 1em;
        color: $color-highlight;
    }

   

    & .container {
        padding-top: 2em;   
        display: flex; 
        flex-direction: row;
        justify-content: center;
        
        
    }

    & .description-hobbies{
        width: 40em;
        align-self: center;
        padding: 2.5em 4em; 
        border: 1px $color-medium dashed;
       position: absolute;
    
    }

    &  .picture {
        width: 167px;
        height: 194px;
        position: relative;
       bottom: 0px;
       left: 360px;
       transform:rotate(10deg);
        
      }

      & .container-trip {
        padding-top: 2em;   
        display: flex; 
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 2em; 
        
        
    }

    & .description-trip{
        width: 40em;
        align-self: center;
        padding:  2.5em 4em; 
        border: 1px $color-medium dashed;
       position: absolute;
    
    }

    &  .picture-trip {
        width: 167px;
        height: 194px;
        position: relative;
       bottom: -51px;
       left: -354px;
       transform:rotate(-8deg);
        
      }
}

@media screen and (max-width: 1100px) {
    #hobbies {
        margin-bottom: 0em;

        & .picture, .picture-trip {
            display:none;
        }

        & .hobbies-list {
            display: flex; 
            flex-direction: column;   
        }

        & .container {
            padding-right: 0;
            padding-left: 0;
        }

        & .description-hobbies {
            position: initial;
            width: 100vw;
            align-self: center;
            padding:1em; 
        }

        & .description-trip {
            position: initial;
            width: 100vw;
            align-self: center;
            padding:1em; 
        }
    }
  }