@import 'src/styles/vars';
// Color Switcher 
.app-dark {
#contact {

    color: $color-text-dark;

    & a {
        color: $color-text-dark;
    }
    

    & h1 {
        color: $color-medium-dark;
    }

}
}

//
#contact {
    margin-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

    & a {
        text-decoration: none;
        color: $color-text;
    }
    

    & h1 {
        font-weight: normal;
        color: $color-medium;
        font-family: 'Caveat', cursive;
        margin-bottom: 2em;
    }

    & .contact-type {
        display: flex; 
        flex-direction: row; 
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 2em;
    }

    & .icon {
        margin-right: 2em;
    }

}


  