@import 'src/styles/vars';

// Color Switcher 
.app-dark {
 #education {

    color: $color-text-dark;

    & h1 {
        color: $color-medium-dark;
    }

    & h2 {
        color: $color-highlight-dark;
    }

    & span {
        color: $color-soft-dark;
    }

    & #accordion-education {
        background-color: $color-background-dark;
    
        & .card-header {
            background-color: $color-background-dark;

        & .accordion-button {
            background-color: $color-background-dark;
        }
        & .title {
            color: $color-medium-dark;
        }
        }
        
        
    }
}
}

//
#education {
    text-align: right;
    margin-bottom: 8em;
    max-width: 30em;

    & .education-list {
        padding: 1em;
    }
    


    & h1 {
        font-weight: normal;
        color: $color-medium;
        font-family: 'Caveat', cursive;
        padding-bottom: 1em;
    }

    & h2 {
        font-weight: normal;
        color: $color-highlight;
        font-size: 1.3em;
    }

    & span {
        color: $color-soft;
        font-size: .8em;
    }

    & .list {
        text-align: justify;
    }

    & #accordion-education {
        background-color: $color-background;
        border: none; 

        & .card-header {
            background-color: $color-background;
            border: none; 

        & .accordion-button {
            background-color: $color-background;
            border: none; 
            text-decoration: none;  
        }
        & .title {
            color: $color-medium;
            font-size: .8em;
        }
        }
        
        
    }
}

@media screen and (max-width: 1100px) {

    #education {
        margin-bottom: 2em;
        margin-right: 0em;
        min-width: 100vw;
        padding-left: 0em;
        padding-right: 0em;
        
        & h1 {
            padding-bottom: .3em;
            padding-right: .3em;
        }
    }
   
    
}