@import 'src/styles/vars';

// Color Switcher 

.app-dark {
#experiences {
    color: $color-background-dark;

    & .experience-list {
        background-color: $color-list-dark;
    }

    & h1 {
        color: $color-medium-dark;
    }

    & h2 {
        color: $color-highlight-dark;
        color: $color-background-dark;
    }

    & span {
        color: $color-soft-dark;
        color: $color-clic-dark;
    }

    & #accordion-experience {
        background-color: $color-list-dark;

        & .card-header {
        background-color: $color-list-dark;
        }

        & .accordion-button {
            background-color:  $color-list-dark; 
        }


        & .title {
            color: $color-medium-dark;
        }
        
        
}
}
}

//

#experiences {
    text-align: left;
    max-width: 30em;
    margin-bottom: 1.5em;
    padding-left: 1em;
    color: $color-background;
    margin-bottom: 8em;

    & .experience-list {
        background-color: $color-list;
        padding: 1em;
        border-radius: .2em;
        

        & .experience-1 {
            margin-bottom: 3.7em;
        }
    }

    & h1 {
        font-weight: normal;
        color: $color-medium;
        font-family: 'Caveat', cursive;
        padding-bottom: 1em;
        
    }

    & h2 {
        font-weight: normal;
        color: $color-highlight;
        font-size: 1.3em;
        color: $color-background;
    }

    & span {
        color: $color-soft;
        font-size: .8em;
        color: $color-clic;
    }

    & #accordion-experience {
        background-color: $color-list;
        border: none; 

        & .card-header {
        background-color: $color-list;
        border: none; 
        }

        & .accordion-button {
            background-color:  $color-list;
            border: none; 
            text-decoration: none;  
        }


        & .title {
            color: $color-medium;
            font-size: .8em;

        }
        
        
}

    }

    @media screen and (max-width: 1100px) {

        #experiences {
            margin-bottom: 2em;
            min-width: 100vw;
            padding-left: 0em;
            padding-right: 0em;
            & h1 {
                padding-bottom: .3em;
                padding-left: .3em;
            }
        }
       
        
    }