$color-background: #ECD2CB;
$color-highlight: #351D31;
$color-soft: #553C50;
$color-medium: #F95951;
$color-text: #212529;
$color-list: #816871;
$color-clic: #f4e7e3;

$color-background-dark: #042024;
$color-highlight-dark: #FD9937;
$color-soft-dark: #FD6826;
$color-medium-dark: #FD6826;
$color-text-dark: #212529;
$color-list-dark: #816871;
$color-clic-dark: #f4e7e3;