@import 'src/styles/vars';


#app {
    text-align:center; 
    display: flex;
   flex-direction: column;
}

// Appear on page load 

.fade-appear {
    opacity: 0; 
    z-index: 1; 
}

.fade-appear.fade-appear-active {
    opacity: 1; 
    transition: opacity 1000ms linear; 
}
