@import 'src/styles/vars';
// Color Switcher 

.app-dark {

    #header {
        background-color: $color-background-dark;
    
        & a { 
            color: $color-highlight-dark;
        }

            & .title h1, .title h2 {
                color: $color-highlight-dark;
            }
    
        
    
        & #dropdown-basic, & .dropdown-menu {
            background-color: $color-background-dark; 
            color: $color-background-dark;
            
    
            & .dropdown-item:active {
                background-color: $color-background-dark;
            }
    
            & #hamburger-menu {
                color: $color-highlight-dark;
            }
    
    
        }
    
    }
    
    }

 //


#header {
    
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: $color-background;
    position: fixed;
    top: -1px;
    z-index:10;

    & .menu {
        margin-top: .7em;
        display: flex; 
        flex-direction: row;
    }

    & a {
        text-decoration: none; 
        color: $color-highlight;
    }

    & .title {
        font-family: 'Amatic SC', cursive;
        padding-bottom: 1em;
        padding-left: 6em;
        

        & h1, h2 {
            font-weight: normal;
            margin: 0em; 
            color: $color-highlight;
        }

        & h1 {
            font-size:4em;
        }

        & h2 {
            font-size: 2em;
        }

    }

    & #dropdown-basic, & .dropdown-menu {
        background-color: $color-background; 
        border: none; 
        color: $color-background;
        text-align: right; 

        & .dropdown-item:active {
            background-color: $color-background;
        }

        & #hamburger-menu {
            color: $color-highlight;
        }


    }

    

}



@media screen and (max-width: 550px) {

    #header {
        & .title {
            padding-left: .2em;

            & h1 {
                font-size: 2.5em;
            }

            & h2 {
                font-size: 1.5em;
            }
        }

    }
    .fake {
        display:none;
    }
  }

