@import 'src/styles/vars';

.app-dark {
    #creations {

    
        & h1 {
            color: $color-medium-dark;
        }

        & p {
            color: $color-text-dark;
        }

        & #container {
            & .github{
            background-color: $color-highlight-dark;
            color: $color-background-dark; 
            & a {
                color: $color-background-dark;
            }

            & a:hover {
                color:$color-medium-dark;
            }
        }
    }
}
}

#creations {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;


    & h1 {
        font-weight: normal;
        color: $color-medium;
        font-family: 'Caveat', cursive;
        margin-right: 1em; 
        margin-left: 1em;
    }

    & #container {
        margin: 4em 1.3em 0em 1.3em;
        display: flex; 
        flex-direction: column; 

        & .tape {
            width: 13em;
            display: inline; 
            margin-left: auto;
            margin-right: auto;
            position : relative; 
            bottom: 10.3em;
        }

        & #website-list {
            display: flex; 
            flex-direction: row; 
            justify-content: center; 
            flex-wrap: wrap; 
            padding-bottom: 4em;

            & .website-item {
                padding-right: 5em;
                padding-left: 5em;
                display: flex; 
                flex-direction: column; 
                justify-content:center; 

                & #dots {
                    font-size: 4em;
                }

                & a {
                    text-decoration: none; 
                    color: $color-text;
                }
    
                & img {
                    width: 20em;
                    padding-bottom: 1em;
                    filter: grayscale(1);
                }

                & .img-dot{
                    width: 20em;
                    padding-bottom: 1em;
                    filter: grayscale(0.4);
                }

                & a:hover {
                    & img {filter: grayscale(0);}
                }

                & .img-dot:hover {
                    filter: grayscale(0);
                }

            }
        }

        & .github {
            background-image: url('./paper.jpg');
            background-size: cover;
            padding: 1.7em 1em 1em 1em;
            box-shadow: -5px 5px 25px rgba(63, 61, 61, 0.7);
            font-family: 'Caveat', cursive;
            font-size: 1.3em;
            transform: rotate(2deg);
            

            & a {
                display: inline-block;
                text-decoration: none;
                color: $color-text; 
            }
    
            & a:hover {
                color:$color-medium;
            }

        }    

    }

    & .icon {
        display: inline; 
        margin-left: 1em;
    }
}

@media screen and (max-width: 523px) {

    #creations {
        & #container {
            & .tape {
               width: 13em;
                display: inline; 
                margin-left: auto;
                margin-right: auto;
                position : relative; 
                bottom: 13.3em;          }
        }
    }  
}

@media screen and (min-width: 451px) and (max-width: 522px) {

    #creations {
        & #container {
            & .tape {
                width: 13em;
                display: inline; 
                margin-left: auto;
                margin-right: auto;
                position : relative; 
                bottom: 12.3em;
            }
        }
    }
    
}

@media screen and (max-width: 1250px) {
    #creations {
        margin-top: 4em;
}
}

@media screen and (max-width: 1100px) {
    #creations {
        margin-bottom: 2em; 
    }
}

@media screen and (max-width: 450px) {
    #creations {
        & .icon {
            display: inline-block;
            padding-top: 1em;
        }
    }
}
