@import 'src/styles/vars';
// Color Switcher 

.app-dark {

    & #footer {
    background-color: $color-background-dark; 

    & p {
        color: $color-highlight-dark;
    }

    & .NavLink {
        color: $color-medium-dark;
    } 
}
}
 //

#footer {    
    padding: 1em;    
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: $color-highlight;
    font-size: .7em;
    background-color: $color-background;
    display: flex; 
    flex-direction: column;

}

#up-button {
   align-self: flex-end;
   padding-right: 2em;

   & .NavLink {
       color: $color-medium;
   }
}